<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EAI Final Project: Covid-19 Statistics Visualization</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script>
            window.onload = function () {
                var mqUsername = '{{ mq_username }}';
                var mqPassword = '{{ mq_password }}';
                var mqVirtualHost = '{{ mq_virtual_host }}';
                var wsUrl = '{{ ws_url }}';
                var subscriptionChannel = '{{ subscription_channel }}';

                var websocket = new SockJS(wsUrl);
                var stompClient = Stomp.over(websocket);
                var isCompleted = false;
                let columns = {
                    "country_name": "Negara", 
                    "population": "Populasi (2020)", 
                    "area":"Luas Wilayah", 
                    "confirmed_case": "Kasus Terkonfirmasi", 
                    "recovered_case": "Kasus Sembuh", 
                    "deaths_case": "Kasus Meninggal",
                    "mortality_rate": "Angka Mortalitas"
                };

                function generateTableHead(table, data) {
                    let thead = table.createTHead();
                    let row = thead.insertRow();
                    for (let key of Object.keys(data)) {
                        let th = document.createElement("th")
                        th.style.border = "1px solid black"; //change table styling here
                        let text = document.createTextNode(columns[key]);
                        th.appendChild(text);
                        row.appendChild(th);
                    }
                }

                function generateTable(table, data) {
                    for (let element of data) {
                        let row = table.insertRow();
                        for (key of Object.keys(columns)) {
                            let cell = row.insertCell();
                            cell.style.border = "1px solid black"; //change table styling here
                            let text = document.createTextNode(element[key]);
                            cell.appendChild(text);
                        }
                    }
                }

                function onReceive(message) {
                    var body = message.body;
                    message.ack();
                    if (isCompleted) {
                        document.getElementById("fetchProgress").innerText = "Fetch Data Completed!";
                        
                        jsonData = JSON.parse(body);
                        let table = document.querySelector("table");
                        
                        let data = Object.keys(jsonData[1]);
                        
                        document.getElementById("worldPopulation").innerText = "Total Populasi Dunia: " + jsonData[0].worldwide_population + " jiwa";
                        document.getElementById("worldTotalConfirmed").innerText = "Total Kasus Terkonfirmasi: " + jsonData[0].worldwide_confirmed;
                        document.getElementById("worldTotalRecovered").innerText = "Total Kasus Sembuh: " + jsonData[0].worldwide_recovered;
                        document.getElementById("worldTotalDeaths").innerText = "Total Kasus Meninggal: " + jsonData[0].worldwide_deaths;

                        generateTableHead(table, columns);
                        generateTable(table, jsonData.slice(1));
                        
                        stompClient.disconnect();
                    } else {
                        document.getElementById("fetchProgress").innerText = body;
                    }
                    if (body.indexOf('100%') !== -1) {
                        isCompleted = true;
                    } 
                }

                function onConnect() {
                    stompClient.subscribe(subscriptionChannel, onReceive, {'ack':'client'})
                }

                function onError(error) {
                    console.log(error);
                }

                stompClient.connect(mqUsername, mqPassword, onConnect, onError, mqVirtualHost);
            }
        </script>
    </head>
    <body>
        <!-- set styling here -->
        <h1>Covid-19 Stats</h1>
        <h5 id="fetchProgress">Retrieving Data: 0%</h5>
        <h4 id="worldPopulation"></h4>
        <h4 id="worldTotalConfirmed"></h4>
        <h4 id="worldTotalRecovered"></h4>
        <h4 id="worldTotalDeaths"></h4>
        <table style="border: 1px solid black; border-collapse: collapse;"></table>
    </body>
</html>