<!DOCTYPE html>
<html>
    <head>        
        <!-- Favicon -->
        <link rel="shortcut icon" href="#">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EAI Final Project: Covid-19 Statistics Visualization</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- stomp -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <!-- sockjs -->
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <!-- data table -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js" type="text/javascript"></script> -->
        <script src="https://code.jquery.com/ui/jquery-ui-git.js" type="text/javascript"></script>

        <script>
            window.onload = function () {
                var mqUsername = '{{ mq_username }}';
                var mqPassword = '{{ mq_password }}';
                var mqVirtualHost = '{{ mq_virtual_host }}';
                var wsUrl = '{{ ws_url }}';
                var subscriptionChannel = '{{ subscription_channel }}';

                var websocket = new SockJS(wsUrl);
                var stompClient = Stomp.over(websocket);
                var isCompleted = false;
                let columns = {
                    "country_name": "Negara", 
                    "population": "Populasi (2020)", 
                    "area":"Luas Wilayah", 
                    "confirmed_case": "Kasus Terkonfirmasi", 
                    "recovered_case": "Kasus Sembuh", 
                    "deaths_case": "Kasus Meninggal",
                    "mortality_rate": "Angka Mortalitas"
                };

                function generateTableHead(table, data) {
                    let thead = table.createTHead();
                    let row = thead.insertRow();
                    for (let key of Object.keys(data)) {
                        let th = document.createElement("th")
                        th.style.border = "1px solid black"; //change table styling here
                        let text = document.createTextNode(columns[key]);
                        th.appendChild(text);
                        row.appendChild(th);
                    }
                }

                function generateTable(table, data) {
                    for (let element of data) {
                        let row = table.insertRow();
                        for (key of Object.keys(columns)) {
                            let cell = row.insertCell();
                            cell.style.border = "1px solid black"; //change table styling here
                            let text = document.createTextNode(element[key]);
                            cell.appendChild(text);
                        }
                    }
                }

                function onReceive(message) {
                    var body = message.body;
                    message.ack();
                    if (isCompleted) {
                        document.getElementById("fetchProgress").innerText = "Fetch Data Completed!";
                        
                        jsonData = JSON.parse(body);
                        let table = document.querySelector("table");
                        
                        console.log(jsonData.slice(1))
                        let data = Object.keys(jsonData[1]);
                        
                        document.getElementById("worldPopulation").innerText = "Total Populasi Dunia: " + jsonData[0].worldwide_population + " jiwa";
                        document.getElementById("worldTotalConfirmed").innerText = "Total Kasus Terkonfirmasi: " + jsonData[0].worldwide_confirmed;
                        document.getElementById("worldTotalRecovered").innerText = "Total Kasus Sembuh: " + jsonData[0].worldwide_recovered;
                        document.getElementById("worldTotalDeaths").innerText = "Total Kasus Meninggal: " + jsonData[0].worldwide_deaths;



                        generateTableHead(table, columns);
                        // generateTable(table, jsonData.slice(1));

                    
                        $("#dataTable").DataTable(
                            {
                                "pagingType": "full_numbers",
                                responsive: true,
                                data: jsonData.slice(1),
                                columns: [
                                    { data: "country_name" },
                                    { data: "population" },
                                    { data: "area" },
                                    { data: "confirmed_case" },
                                    { data: "recovered_case" },
                                    { data: "deaths_case" },
                                    { data: "mortality_rate" }
                                ]
                            }
                        );
                        
                        stompClient.disconnect();
                    } else {
                        document.getElementById("fetchProgress").innerText = body;
                    }
                    if (body.indexOf('100%') !== -1) {
                        isCompleted = true;
                    } 
                }

                function onConnect() {
                    stompClient.subscribe(subscriptionChannel, onReceive, {'ack':'client'})
                }

                function onError(error) {
                    console.log(error);
                }

                stompClient.connect(mqUsername, mqPassword, onConnect, onError, mqVirtualHost);
            }
        </script>
    </head>
    <body>
        <!-- set styling here -->
        <body>
          <div class="wrapper">
            <!-- header -->
            <header>
              <!-- navigation -->
              <nav class="navbar navbar-default" role="navigation" style="background-color: coral;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="container">
                  <h1 style="color: whitesmoke;">Covid-19 Stats</h1>
                </div>
              </nav>
            </header>
            <div class="banner" style="color: #ffad8f;">
              <div class="container">
                <img class="img-responsive" style="width: 100%;margin-bottom: 10px;" src="https://cdn.pixabay.com/photo/2013/07/12/12/54/world-map-146505_960_720.png">
              </div>
            </div>
          </div>
        </body>
        <div class="container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 10px;">
            <h1 style="text-align: center">Covid-19 Kasus, Sembuh, Kematian, dan Populasi</h1>
            <h5 id="fetchProgress">Retrieving Data: 0%</h5>
            <h4 id="worldPopulation"></h4>
            <h4 id="worldTotalConfirmed"></h4>
            <h4 id="worldTotalRecovered"></h4>
            <h4 id="worldTotalDeaths"></h4>
            <table style="border-collapse: collapse;width:100%" class="table table-striped table-bordered" id="dataTable"></table>
        </div>
        <footer>
            <br>
            <p style="text-align: center">Created by Love</p>
        </footer>
    </body>
</html>